<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
     <h2> Course enrolled in: {{course}}!</h2>
  </div>
</div>

<script>
  $(function() {
  $("#accordion").accordion({
    collapsible: true
  });
} 
);
</script>

<div id="accordion">
{{#if projects.length}}

{{#each projects as |project|}}

<h3>Module:{{project.name}}</h3>

<ul><a href="/project/{{project.id}}">{{project.topics}}</a></ul>

{{/each}}
 {{/if}}
 </div>
 
<script src="./js/profile.js"></script>
